* {
  box-sizing: content-box;
}

footer {
  text-align: center;
  margin: 1%;
}

h3 {
  font-size: medium;
}

.exampleSentence {
  font-style: italic;
  display: block;
  margin: 1.5%;
}

.container {
  margin: 1.5%;
}

.Results {
  border: 1px solid;
  height: 700px;
  overflow: scroll;
  padding: 1.5%;
  margin: 1% auto;
}
